*
!*/
*target
*.idea
!*.cpp
!*.c
!*.h
!*.java
!*.jsp
!*.py
!*asm*
!*.dtsi
!*.dts

!Makefile
!makefile
!*.mk

!*.sh
!*.xml
!*conf*
!*cfg*
!*project*
!*Project*
!*.fex

!*README*
!*.txt
!*.docx
!*.doc
!*.json
!*MANIFEST*.MF
!.gitignore
